html {
    position: relative;
    min-height: 100%;
  }

body {
    background: url('/static/baseapp/img/craft-paper.jpg');
}
  h1,h2,h3,h4,h5,h6 {
    font-family: "Marko One", serif;
  }

  nav.list-group {
    margin-bottom: 1em;
  }

  form {
    margin-bottom:1em;
    z-index:200;
  }

  form div {
    margin-bottom:1em;
  }

  table {
    width:100%;
  }

  label, input {
      display: block;
  }

  .tdBold {
    font-weight: bolder;
  }

  img#logo-image {
     xheight:45px;
     xwidth:245px;

  }



    #main-header {
        position:relative;
        left:.3em;
        padding: .5em .5em .5em 0;
    }
    #page-content > .col {
      padding-top: 3em;
    }

@media (min-width: 768px) {
    #main-header {
        position:relative;
        left:-3em;
        padding: .5em .5em .5em 0;
    }
    #page-content > .col {
      padding-top: 7em;
    }
}




  #page-content {
    max-width:100%
  }

