html {
    position: relative;
    min-height: 100%;
  }

body {
    background: url('/static/baseapp/img/paper.jpg');
}

body > .container {
    margin-top: 10px;
}

  h1,h2,h3,h4,h5,h6 {
    font-family: "Marko One", serif;
  }

  nav.list-group {
    margin-bottom: 1em;
    position:sticky;
  }

  form {
    margin-bottom:1em;
    z-index:200;
  }

  form div {
    margin-bottom:1em;
  }

  form input.btn-primary {
      display:block;
      text-align:right;
  }

  table {
    width:100%;
  }

  label, input {
      display: block;
  }

  .tdBold {
    font-weight: bolder;
  }

  img#logo-image {
     xheight:45px;
     xwidth:245px;

  }

  #logo-cell {
      background-color:white;
      min-width: 300px;
  }
  #page-content {
    max-width:100%;
    min-height:85vh;
    margin-bottom: 1em;
    background-color: white;
    xbackground: url('/static/baseapp/img/paper.jpg');
    box-shadow: 5px 5px 5px grey;
  }


    #main-header {
        position:relative;
        left:.3em;
        padding: .5em .5em .5em 0;
    }
    #page-content > .col {
      padding-top: 3em;
    }

@media (min-width: 768px) {
    #main-header {
        position:relative;
        left:-3em;
        padding: .5em .5em .5em 0;
    }
    #page-content > .col {
      padding-top: 7em;
    }
}





