#Coverage configuration file

[run]
branch = True

omit =
   */node_modules/*
   manage.py
   */venv/*,
   */td2venv/*,
   */migrations/*

[report]
fail_under = 100
show_missing = True
skip_covered = True
