<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <script src="{static 'baseapp/js/gtm-head.js'}"></script>
        <meta name="robots" content="noindex, nofollow">

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{% block title %}ThunderDome Word Battle {% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'baseapp/img/favicon/favicon.ico' %}" type="image/x-icon"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'baseapp/img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'baseapp/img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'baseapp/img/favicon/favicon-16x16.png' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marko One">
        <link rel="stylesheet"  href="{% static 'baseapp/css/baseapp.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        {% block headtag %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <div id="skiptocontent">
                    <a class="visually-hidden-focusable nav-link list-group-item list-group-item-action list-group-item-primary" href="#main-content">skip to main content</a>
                </div>
                <div class="row">
                    <div class="col-md-4 list-group" id="logo-cell">
                        <a href = "{% url 'home' %}" >
                            <img class='mx-auto d-block' id="logo-image" height="48" width="300" src ="{% static 'baseapp/img/tdx.jpg' %}" alt="Thunderdome Logo in metal mania font" />
                        </a>
                    </div>
                    <div class="col-md-8"  >

                    <!-- <div class="col-md-2"  >
                    </div>-->
                    </div>
                </div>

            </header>
            <div id="page-content" class="row">

                <!-- <div class="row"> -->
                    <div class="col-md-2">

                        {% block sidebar %}
                            <nav aria-labelledby="things-to-see-nav" class="list-group">
                                <h2 id="things-to-see-nav" class="h5">Things to see</h2>
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'view stories' %}">Stories</a>
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'view contests' %}">View contests</a>
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'view prompts' %}">View prompts</a>
                            </nav>
                            <nav aria-labelledby="things-to-do-nav" class="list-group">
                                <h2 id="things-to-do-nav" class = 'h5'>Things to do</h2>
                                {% if user.is_authenticated %}
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'create prompt' %}">Create Prompt</a>
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'create story' %}">Create Story</a>
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'create contest' %}">Create Contest</a>
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'judgemode' %}">Judge Mode</a>
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'profile' %}">Your Profile</a>
                                {% else %}
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary" href="{% url 'login' %}" >Login</a>
                                    <a class="nav-link list-group-item list-group-item-action list-group-item-primary"  href="{% url 'sign up' %}">Sign Up</a>
                                {% endif %}
                            </nav>
                            {% endblock %}



                    </div>
                    <main class="col-md-8">
                        <div id="main-content">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <!--button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button -->

                            {{ message }}
                            </div>
                            {% endfor %}
                            <h1 id="main-header">{% block header %}Home{% endblock %}</h1>
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </main>
                    <nav class="col-md-2">

                        {% if user.is_authenticated %}
                            <p>Hi {{ user.username }}!</p>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <nav aria-labelledby="things-to-not-do-nav" class="list-group">
                            <h2 id="things-to-not-do-nav" class = 'h5'>Things to not do</h2>
                            <a  class="nav-link list-group-item list-group-item-action list-group-item-danger"href="{% url 'logout' %}" class="btn btn-danger" >Exit pursued by a bear</a>
                        </nav>
                        {% endif %}

                        {% block aside %}

                        {% endblock aside %}


                    </nav>


                <!-- </div> -->
                <footer class="footer mt-auto py-3 col order-4">
                    <div class="col">
                        Copyright Fumblemouse 2020
                    </div>

                </footer>

            </div>
        </div>
    </body>
</html>