{% extends "baseapp/base.html" %}
{% load static %}
{% block header %}
    Welcome<br/>to the<br/>ThunderDome

{% endblock header %}
{% block content %}
<h2>WTF?</h2>
<p>This is site is currently under development.  This means it is not safe for people or their furpals/lizardkin/insectbros and probably wont work <em>AT ALL!</em> </p>
<p>It is being developed for the following purposes:</p>
<ul>
    <li>To teach me django, python, bootstrap etc</li>
    <li>To test out some ideas I had about whether or not the <a href ="https://forums.somethingawful.com/showthread.php?threadid=3953574">Thunderdome</a> concept,
    currently running on the <a href="forums.somethingawful.com">Something Awful forums</a>, could be replicated/automated on another platform in the event something happened to those forums
    (this is, admittedly, less of a risk currently than it used to be, but who knows what the future holds?).</li>
    <li>To see how easy it is these days to make something with relatively modern tools and make it as accessible and <a href="https://securityheaders.com/?q=fumblemouse.pythonanywhere.com&hide=on&followRedirects=on">secure</a> as possible </li>
    <li>To make me incredibly rich by stealing other people's ideas and monetising them, as is the fashion (stretch goal).</li>
</ul>
<img src="{% static 'baseapp/img/flourish.png' %}" alt="logo" class="rounded mx-auto d-block" />
{% endblock %}
