{% extends "baseapp/base.html" %}
{% block title %}ThunderDome: Home page{% endblock %}
{% load static %}
{% block header %}
    <span class="ThunderDome">Welcome to the ThunderDome</span>

{% endblock header %}
{% block content %}

<figure>
  <blockquote>
    This is Thunderdome, and death is listening, and will take the first man that screams

  </blockquote>
      <figcaption class="blockquote-footer text-end">
    Aunty Entity in <cite title="Beyond Thunderdome">Beyond Thunderdome</cite>
  </figcaption>

</figure>
<h2>WTF?</h2>
<p>This is site is currently under development.  This means it is <em>NOT SAFE</em> for people or their furpals/lizardkin/insectbros
  and probably wont work <em>AT ALL!</em> Please <em>do not</em> use for real things. </p>
 <p> Check out the <a href="{% url 'wtf' %}">WTF section</a> for more information about how it may one day work when I stop messing about with it</p>

{% for notice in notices %}
<div class="notice card">
      <h5 class="card-header">{{ notice.get_category_display }}</h5>
  <div class="card-body">


    <p class="notice-category"></p>
        <p>{{ notice.content|safe }}</p>
    </div>
</div>

{% endfor %}


<img src="{% static 'baseapp/img/flourish.png' %}" alt="lovely flourish" class="rounded mx-auto d-block" height="225" width="300"  />
{% endblock %}
