{% extends "baseapp/base.html" %}
{% block title %}ThunderDome: View Stories {% endblock %}
{% block headtag %}

{% endblock %}
{% block header %}
    Read Stories
    {% if author_context %}
        by {{author_context}}
    {% endif %}
    {% endblock %}
 {% block content %}
{% if stories_context %}
    <table class="table table-divided table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
        </thead>
        {% for story in stories_context %}
        <tr>
            <td><a href="{{ story.get_absolute_url  }}">{{ story.title }}</a></td>
            <td><a href="{% url 'view stories by author' story.author.slug %}">{{ story.author }}</a></td>
        </tr>
        {% endfor  %}
    </table>
{% else %}
    <div class="warning">
    <p>No stories available</p>
    </div>
{% endif %}
{% endblock %}