{% extends "baseapp/base.html" %}
{% block title %}ThunderDome: View story {% endblock %}
{% load static %}
{% block headtag %}

{% endblock %}
{% block header %}
    {% if story_context %}
        {{ story_context.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="byline">by {{story_context.author }}</div>
    {% if story_context %}
        <div class="story">
            {{ story_context.content | safe }}
        </div>
    {% else %}
        <div class="warning">
            Something went horribly wrong - nothing to be found
        </div>

    {% endif %}
    <img src = "{% static 'baseapp/img/flourish.png' %}" alt="Ending typographical flourish" class="rounded mx-auto d-block" />

    {% if story_context.author.bio %}
        <div id="bio">
            <p>About the author:</p>
            <blockquote>{{ story_context.author.bio | safe }}</blockquote>
        </div>
    {% endif %}
    {% if story_context.crit_set.all %}
        {% for crit in story_context.crit_set.all %}
            {% if crit.content %}
                <div>{{ crit.content | safe }}</div>
                <div class="text-end">--{{ crit.reviewer }}</div>
            {% endif %}
        {% endfor %}
    {% else %}
        <!-- No critiques exist for this story -->
    {% endif %}
{% endblock %}
{% block aside %}
        {% if request.user == story_context.author %}
            <nav aria-labelledby="edit-story" class="list-group">
                <h2 id="edit-story" class="h5">Edit Story</h2>
                <a class="nav-link list-group-item list-group-item-action list-group-item-primary" href="{% url 'edit story' story_context.id %}">Editing Mode</a>
            </nav>
        {% endif %}

        <p>All stories are copyright the author</p>
{% endblock %}