{% extends "baseapp/base.html" %}
{% load static %}
{% block headtag %}

{% endblock %}
{% block header %}
    {% if story_context %}
        {{ story_context.title }}
    {% endif %}
{% endblock %}

{% block content %}
{% if story_context %}
    {{ story_context.content | safe }}
{% else %}
    <div class="warning">
        Something went horribly wrong - nothing to be found
    </div>

{% endif %}
<img src = "{% static 'baseapp/img/flourish.png' %}" alt="Ending typographical flourish" class="rounded mx-auto d-block" />
{% endblock %}