{% extends "baseapp/base.html" %}
{% block title %}ThunderDome: Create Contest - new prompt {% endblock %}
{% block headtag %}
    {% load static %}
    {{ prompt_form.media }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


{% endblock %}
{% block header %}Create Contest{% endblock %}

{% block content %}

<nav class="nav nav-tabs">
    <a href="{% url 'create contest'%}" class="nav-link active" aria-current="page">Create a contest with a new prompt</a>
    <a class="nav-link" href="{% url 'create contest old prompt'%}">Create a contest and recycle an old prompt</a>
</nav>
<form method = "post">

        {% csrf_token %}

        {% include 'baseapp/base-form.html' with form=prompt_form %}
        {% include 'baseapp/base-form.html' with form=contest_form %}

    <input type="submit" value="Submit" class='btn btn-primary'>

</form>
<script src="{% static 'baseapp/js/flatpickr.js' %}"></script>
{% endblock %}
