{% extends "baseapp/base.html" %}
{% block title %}ThunderDome: Enter contest {% endblock %}
{% block headtag %}
    {{ story_form.media }}
{% endblock %}
{% block header %}
Confirm Contest Entry
{% endblock %}
{% block content %}

{% if contest_context %}
        <h3>{{ contest_context.title }}</h3>


        <form method = "post">
            <p>Please click the button below to register your intent to enter. </p>
            <input type="submit" value="Fortune Favors the bold" class='btn btn-primary'>
            <p>You don't have to provide your story right this minute, but failure to enter a story by {{ contest_context.expiry_date }}
                will go down on your permanent record.
            </p>
        </form>
        <p><a href="{% url 'view contests' %}">Oh noes! I am a cowardy custard. Take me away to be alone with my shame!</a></p>
    
        <h4>Contest Details</h4>
        <p>{{ contest_context.content | safe }}</p>
        <p>Word limit: {{ contest_context.max_wordcount }}</p>
{% else %}
    <div class="warning">No useable contest selected.</div>
{% endif %}




{% endblock %}