{% extends "baseapp/base.html" %}
{% block headtag %}
    {{ story_form.media }}
{% endblock %}
{% block header %}
Enter Contest
{% endblock %}

{% block content %}

{% if contest_context %}
        <h3>{{ contest_context.prompt.title }}</h3>
        <p>{{ contest_context.prompt.content | safe }}</p>
{% else %}
    <p>No contest found - check the url.</p>
{% endif %}

<form method = "post">

        {% csrf_token %}
        {% include 'baseapp/base-form.html' with form=story_form %}
        {% include 'baseapp/base-form.html' with form=entry_form %}

    <input type="submit" value="Submit" class='btn-primary'>

</form>



{% endblock %}