{% extends "baseapp/base.html" %}
{% block title %}ThunderDome: Judgemode {% endblock %}
{% load static %}
{% block headtag %}
{% if form %}
    {{ form.media }}
{% endif %}
    {% endblock %}
{% block header %}Judgemode{% endblock header %}

{% block aside %}


    <h3 class="h5">Stories to judge</h2>

{% if crit_list %}

    {% regroup crit_list by entry.contest as crit_list_regrouped %}

    {% for contest in crit_list_regrouped %}
        <nav aria-labelledby="{{ contest.grouper }}" class="list-group">
        <h4 class="h6" id={{ contest.grouper }}>{{ contest.grouper }}</h4>
        {% for crit in contest.list %}
                <a class="nav-link list-group-item list-group-item-action
                {% if crit.final %}
                    list-group-item-secondary
                {% else %}
                    list-group-item-primary
                {% endif %}" href="{% url 'judgemode' crit.id %}">
                {% if crit.final %}
                    <em>Judged</em>
                {% endif %} {{ crit.entry.story.title }}</a>
        {% endfor %}
        </nav>
    {% endfor %}

{% else %}
    You are not currently judging anything.
{% endif %}


{% endblock aside %}

{% block content %}
{% if form %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>There was a problem with your form - <a href="#form">Go to errors</a></strong>
        </div>
    {% else %}
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    <strong>There was a problem with your form - <a href="#form">Go to errors</a></strong>
                </div>
            <!-- {% endif %}
        {% endfor %} <!-- -->

    {% endif %}
    <h2>{{ crit_context.story.title}}</h2>
    {{ crit_context.story.content | safe }}
    <img src="{% static 'baseapp/img/flourish.png' %}" alt="logo" class="rounded mx-auto d-block" />
    {% if not crit_context.final %}
        <form method = "post">
                {% csrf_token %}
                {% include 'baseapp/base-form.html' %}
            <input type="submit" value="Submit" class='btn btn-primary'>

        </form>
    {% endif %}
{% else %}
    <p>Judgemode show you the stories you currently have to critique in the contests you have entered.</p>
    <ol>
        <li>Choose a story from the list on the right (or at the bottom if you're on a phone)</li>
        <li>Read it and think about it</li>
        <li>Provide a critique of at least 100 words. Be real, nobody will improve if you're not honest.
            If you can't be kind, at least be funny. If you can't be constructive, think about it some more and try again.</li>
        <li>Provide an overall ranking. For contestant judged contests, there will usually be three stories to judge.
            Score them relative to each other, and the world. If you think one is head and shoulders over the others,
            select 'High' for that story, then assign 'Low' and 'Low mid' to the others.</li>
        <li>Individual scores are private - all your authors will see is your comments.</li>
        <li>You can revisit your work at any point, until you check the 'Final' box and submit. then it will disappear
            from your judgemode list</li>
    </ol>
{% endif %}
{% endblock %}