{% extends "baseapp/base.html" %}

{% block header %}Current Contests{% endblock %}

{% block content %}

{% if current_contest_list %}
    <table class="table table-divided">
        <tr>
            <th>Prompt</th>
            <th>Due in</th>
        </tr>
    {% for contest in current_contest_list.all %}
        <tr>
            <td><a href="{% url 'view full contest' contest.id %}">{{ contest.prompt.title }}</a></td><td>{{ contest.expiry_date }}</td> </a>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No Contests are currently active.</p>
{% endif %}

{% endblock %}
