{% extends "baseapp/base.html" %}
{% block title %}ThunderDome: View Contests{% endblock %}
{% block header %}Contests{% endblock %}

{% block content %}

<p><em>NB:</em>Yellow buttons are there to physically change contest states - 
    they would normally be done by scheduled timers.</p>

{% if current_contest_list %}
    <table class="table table-divided">
        <tr>
            <th>Prompt</th>
            <th>Due in</th>
            <th>WordCount</th>
            <th>Action</th>
            <th>Status</th>
            <th>Entries</th>
        </tr>
    {% for contest in current_contest_list.all %}
        <tr>
            <td><a href="{% url 'view full contest' contest.id %}">{{ contest.prompt.title }}</a></td>
            <td>{{ contest.expiry_date }}</td>
            <td>{{ contest.wordcount }}</td>
            <td>{% if contest.status == 'UNOPENED' %}
                <a href="{% url 'open contest' contest.id %}" class="btn btn-warning">Open Contest</a>
                {% endif %}
                {% if contest.status == 'OPEN' %}
                    <a href="{% url 'enter contest' contest.id %}" class="btn btn-primary">Enter</a>
                    <a href="{% url 'close contest' contest.id %}" class="btn btn-warning">Close Entries</a></td>
                {% endif %}
                {% if contest.status == 'JUDGEMENT' %}
                    <a href="{% url 'judge contest' contest.id %}" class="btn btn-warning">Close Judging</a>
                {% endif %}
            </td>
            <td>
                    {{ contest.status }}
            </td>
            <td>
                {{contest.entry_set.count}}
            </td>
        </tr>
        {% if contest.status == 'JUDGEMENT' %}
            <tr>
                <td></td><td></td> <td>(For testing purposes only)</td><td>Entrant</td><td>Finished Critiques</td><td></td>
            </tr>
                {% regroup contest.get_final_crits by reviewer as crit_list %}
                {% for crit in crit_list %}
                    <tr>
                        <td></td><td></td> <td></td><td>{{ crit.grouper }}</td><td>{{crit.list|length}}</td>
                    </tr>
                {% endfor %}
        {% endif %}

    {% endfor %}
    </table>

{% else %}
    <p>No Contests are currently active.</p>
{% endif %}
{% if old_contest_list %}
<h2>Closed Contests</h2>
<table class="table table-divided">
    <tr>
        <th>Prompt</th>
        <th>Close date</th>
        <th>WordCount</th>
        <th>Action</th>
        <th>Status</th>
        <th>Entries</th>
    </tr>
    {% for contest in old_contest_list.all %}   
        <tr>
            <td><a href="{% url 'view full contest' contest.id %}">{{ contest.prompt.title }}</a></td>
            <td>{{ contest.expiry_date }}</td>
            <td>{{ contest.wordcount }}</td>
            <td>
                <a href="{% url 'view judgement contest' contest.id %}" class="btn btn-primary">View Results</a>
            </td>
            <td>
                    {{ contest.status }}
            </td>
            <td>
                {{contest.entry_set.count}}
            </td>
        </tr>

    {% endfor %}
    </table>
{% endif %}

{% endblock %}
