{% extends "baseapp/base.html" %}

{% block header %}
      Change Password {{request.user.username}}
{% endblock %}

{% block content %}
<div >


<div>
  <form method="post" role="form">
    {% csrf_token %}
    {% for field in form %}
	<!--  <div class = "form-group"> -->
      <p>
        {{ field.label_tag }}
         
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
	  <!-- </div> -->
      {% endfor %}

    <button type="submit" class="btn btn-primary" style="margin-bottom: 5px">Change password</button>
  </form>
  <form action="{% url 'settings' %}" method="GET">
    <button type="submit" class="btn btn-danger" >Back</button>
  </form>
  </div>
{% endblock content %}