{% extends "baseapp/base.html" %}

{% block header %}
    {{request.user.username}}
{% endblock header %}
  
{% block content %}

<div>
    <h3>Welcome {{request.user.first_name}} {{request.user.last_name}}</h3>
<p>Choose form the options to your left. No, the other left.</p> 

{% if fields_context %} 
<p>Current Settings</p>
    <table class="table table-striped table_ruled">
        <tr>
            <th scope="col" >Thing</th><th>Value of thing</th>
       </tr>
        {% for key, value in fields_context.items %} 
         <tr>
             <th scope="row">{{ key }}</th><td>{{value}}</td>
        </tr>

    {% endfor %}
    </table>
{% else %}
    <p>Empty profile. That's weird.</p>
{% endif %}


{% endblock content %}

{% block aside %}
    <a class="btn btn-danger primary" href="{% url 'change settings' %}" >Edit Settings</a>

{% endblock aside %}
