{% extends "baseapp/base.html" %}
{% block title %}ThunderDome: Profile{% endblock %}
{% block header %}
    Profile: {{request.user.username}}
{% endblock header %}

{% block content %}

<div>

<p>Choose from the options to your left. No, the other left.</p>

{% if fields_context %}
<h2>Current Settings</h2>
    <table class="table table-ruled ">
        <tr>
            <th scope="col" >Thing</th><th>Value of thing</th>
       </tr>
        {% for key, value in fields_context.items %}
         <tr>
             <th scope="row">{{ key }}</th><td>{% if key == 'Bio' %}{{ value|safe }}{% else %}{{ value }}{% endif %}</td>
        </tr>

    {% endfor %}
    </table>
{% else %}
    <p>Empty profile. That's weird.</p>
{% endif %}

{% if stories_context %}
<h2>Stories</h2>
    <table>
        <tr>
            <th>Title</th><th>Edit</th>
        </tr>
    {% for story in stories_context %}
        <tr>
            <td><a href="{% url 'view story by slug' story.author.profile.slug story.slug %}">{{ story.title }}</a></td>
            <td><a href = "{% url 'edit story' story.id %}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% if prompts_context %}
<h2>prompts</h2>
    <table>
        <tr>
            <th>Title</th><th>Edit</th>
        </tr>
    {% for prompt in prompts_context %}
        <tr>
            <td><a href="{% url 'view prompt details' prompt.id %}">{{ prompt.title }}</a></td>
            <td><a href = "{% url 'edit prompt' prompt.id %}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock content %}

{% block aside %}
<nav aria-labelledby="profile-links" class="list-group">
    <h2 id="profile-links" class="h5">Profile Links</h2>
    <a class="nav-link list-group-item list-group-item-action list-group-item-secondary" href="{% url 'change settings' %}" >Edit Profile</a>
    <a class="nav-link list-group-item list-group-item-action list-group-item-secondary" href="{% url 'password_change' %}">Change password</a>
</nav>

{% endblock aside %}
