{% extends "baseapp/base.html" %}

{% block header %}
    <h1>Profile: {{request.user.username}}</h1>
{% endblock header %}

{% block content %}

<div>

<p>Choose from the options to your left. No, the other left.</p>

{% if fields_context %}
<h2>Current Settings</h2>
    <table class="table table-ruled ">
        <tr>
            <th scope="col" >Thing</th><th>Value of thing</th>
       </tr>
        {% for key, value in fields_context.items %}
         <tr>
             <th scope="row">{{ key }}</th><td>{{value}}</td>
        </tr>

    {% endfor %}
    </table>
{% else %}
    <p>Empty profile. That's weird.</p>
{% endif %}

{% if stories_context %}
<h2>Stories</h2>
    <ul>
    {% for story in stories_context %}
        <li><a href="{% url 'view story by slug' story.slug %>">{{ story.title }}</a></li>
    {% endfor %}
{% endif %}
{% endblock content %}

{% block aside %}
    <a class="btn btn-primary" href="{% url 'change settings' %}" >Edit Settings</a>
    <a class="btn btn-warning" href="{% url 'password_change' %}">Change password</a>


{% endblock aside %}
