{% extends "profiles/profile.html" %}
{% block title %}ThunderDome: Profile Settings{% endblock %}
{% block headtag %}
    {{ user_form.media }}
{% endblock %}
{% block header %}
      Settings: {{request.user.username}}
{% endblock %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        {% include 'baseapp/base-form.html' %}

        {% load tz %}
        {% get_current_timezone as TIME_ZONE %}
            <label for="timezone">Time zone:</label>
            <select name="timezone">
                {% for tz in timezones %}
                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>


{% endblock content %}